
<div *ngIf="contributeur">
    <h2><span>Contributeur</span> {{contributeur.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{contributeur.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{contributeur.lastName}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{contributeur.email}}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
            <span>{{contributeur.phoneNumber}}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
            <span>{{contributeur.creationDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contributeur/'+ contributeur.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
